@import "vendor/nib"

body
    color #333
    font-size 14px
    background #343434

a
a:visited
    color blue

header > h1
body > nav > ul
body > section > div
#main-navigation
footer
    display block
    width auto
    padding-left 30px
    padding-right 30px

header
    background-color #474747
    background-image linear-gradient(top, #555, #333)
    > h1
        margin 0
        font-size 120%
        line-height 3em
        font-weight normal
        text-shadow 1px 1px #333
        > a
        > a:visited
            color #fff
            text-decoration none

body > nav
    background #f1f1f1
    border-bottom 1px #ccc solid
    line-height 2em
    > ul
        margin 0
        > li
            display inline-block
            > a
            > a:visited
                color inherit
        > li:not(:last-child):after
            content ">"
            margin 0 0 0 0.5em

body > section
    padding-top 1em
    background url(../images/background.png) #ececec
    h1
    h2
        text-shadow 1px 1px #fff
    h1
        font-size 120%
    h2
        margin 1em 0
        font-size 100%
    > div > *first-child
        margin-top 0
    .flashes
        padding 0
        > li
            margin-top 1em
            margin-bottom 1em
            padding 1em
            border-radius(0.5em)
            margin-top 0
            list-style none
            > *first-child
                margin-top 0
            > *last-child
                margin-bottom 0
        > li.success
            color #119e00
            border 1px #119e00 solid
            background #bcffbc
        > li.error
            color red
            border 1px red solid
            background #ffc6c6
    p.actions
        a
        input
            display inline-block
            padding 0 1em
            line-height 2em
            height 2em
            color inherit
            border 1px #cccccc solid
            border-radius(0.3em)
            box-shadow(0 1px 1px rgba(255, 255, 255, 0.75))
            text-decoration none
            cursor pointer
            background-color #f5f5f5
            background-image linear-gradient(top, #fff, #e6e6e6)
        a:hover,
        a:focus,
        a:active,
        input:hover,
        input:focus,
        input:active
            color inherit
            background-color #efefef
            background-image linear-gradient(top, #fafafa, #e0e0e0)
    .widget
          margin-top 0
          margin-bottom 1em
          padding 1em
          border-radius(0.5em)
          color inherit
          border 1px #cccccc solid
          background #f5f5f5
          > *:first-child
              margin-top 0
          > *:last-child
              margin-bottom 0
    #search-form *
        display inline-block
    #search-form fieldset
        padding 0
        border 0
    #main-navigation
        border-top 1px #ccc solid
        padding-top 1em
        padding-bottom 1em
        background #343434
        ul
            margin 0
            list-style none
        .active > a
        .active > span
            text-decoration none
            color #06dde0
        .adminnode > span
            position relative
            margin-left 1em
        .adminnode > span:before
            content ""
            display block
            position absolute
            top 0.7em
            margin-left -1em
            border-left 5px solid transparent
            border-right 5px solid transparent
            border-top 10px solid #555
        > ul
            padding 0
            > li
                margin 0 0 1em 0
                line-height 2em
            a,
            span
                display block

    form > fieldset
        margin-top 1em
        margin-bottom 1em
        padding 1em
        border-radius(0.5em)
        color inherit
        border 1px #cccccc solid
        background transparent
        > *:first-child
            margin-top 0
        > *:last-child
            margin-bottom 0
        p
            margin-top 0
    #counter
    #pager
    #pager li
        display inline

#main-navigation
footer
    color #fff
    a
        color inherit
    a:hover,
    a:active,
    a:focus
        background #444

@media screen and (min-width: 1000px)
    body > section > div
        > div
            padding 0
            margin-top 1em
            margin-bottom 0
            .widget
                display block
                float left
                box-sizing(border-box)
                margin-right 2%
                margin-top 0
                width 49%
                margin-bottom 1em
            .widget:last-child
                margin-right 0
        > div:after
            clear both
            display table
            content ""

form
    line-height 2em
    fieldset
        padding 0
        border 0
        input
        textarea
        select
            display inline-block
            box-sizing(border-box)
            width 250px
            padding 0.3em
            border 1px #cccccc solid
            border-radius(3px)
            background white
        input[type=checkbox]
            width auto
    input[type=submit]
        display inline-block
        padding 0 1em
        line-height 2em
        height 2em
        color inherit
        border 1px #cccccc solid
        border-radius(0.3em)
        box-shadow(0 1px 1px rgba(255, 255, 255, 0.75))
        text-decoration none
        cursor pointer
        background-color #f5f5f5
        background-image linear-gradient(top, #fff, #e6e6e6)
    input[type=submit]:hover
    input[type=submit]:focus
    input[type=submit]:active
        color inherit
        background-color #efefef
        background-image linear-gradient(top, #fafafa, #e0e0e0)
    label
        display block
    .errors
        margin-top 0
        padding 0
        > li
            list-style-position inside
            color #f00
    .required:after
        content "*"
        right 0.5em

@media screen and (min-width: 610px)
    form label
      display block
      float left
      width 250px

table
    max-width 100%
    width 100%
    margin 1em 0
    border-collapse separate
    border-spacing 0
    tbody > tr:nth-child(odd)
        background #fafafa
    thead > tr:first-child > th
        border-top 0
    th
    td
      padding 0.5em 1em
      text-align left
      border-top #dddddd 1px solid
    th a:visited
    th a
        color inherit
    .asc
    .desc
        position relative
        > a
            padding 0 0 0 1em
        > a:before
            content ""
            display block
            position absolute
            top 0.8em
            border-left 5px solid transparent
            border-right 5px solid transparent
    .desc > a:before
        border-top 10px solid #555
    .asc > a:before
        border-bottom 10px solid #555
